Kolokwium1/GameMICGOR/GameMICGOR/Connected Services/DragonCaveService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/DragonCaveMICGOR/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObjectManager.Models" />
  <xs:element name="GetLoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLootResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ObjectManager.Models" minOccurs="0" name="GetLootResult" nillable="true" type="q1:Treasure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>