Kolokwium1/GameMICGOR/GameMICGOR/Connected Services/DragonCaveService1/ObjectManager.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ObjectManager.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ObjectManager.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Treasure">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gold" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Treasure" nillable="true" type="tns:Treasure" />
</xs:schema>