Zadania3/CosmosGameApp/CosmosGameApp/Connected Services/Cosmos/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cosmos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CosmicAdventureDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICosmosWcf_InitializeGame_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeGame" />
  </wsdl:message>
  <wsdl:message name="ICosmosWcf_InitializeGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeGameResponse" />
  </wsdl:message>
  <wsdl:message name="ICosmosWcf_SendStarship_InputMessage">
    <wsdl:part name="parameters" element="tns:SendStarship" />
  </wsdl:message>
  <wsdl:message name="ICosmosWcf_SendStarship_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendStarshipResponse" />
  </wsdl:message>
  <wsdl:message name="ICosmosWcf_GetSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystem" />
  </wsdl:message>
  <wsdl:message name="ICosmosWcf_GetSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemResponse" />
  </wsdl:message>
  <wsdl:message name="ICosmosWcf_GetStarship_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStarship" />
  </wsdl:message>
  <wsdl:message name="ICosmosWcf_GetStarship_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStarshipResponse" />
  </wsdl:message>
  <wsdl:portType name="ICosmosWcf">
    <wsdl:operation name="InitializeGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICosmosWcf/InitializeGame" message="tns:ICosmosWcf_InitializeGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICosmosWcf/InitializeGameResponse" message="tns:ICosmosWcf_InitializeGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendStarship">
      <wsdl:input wsaw:Action="http://tempuri.org/ICosmosWcf/SendStarship" message="tns:ICosmosWcf_SendStarship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICosmosWcf/SendStarshipResponse" message="tns:ICosmosWcf_SendStarship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICosmosWcf/GetSystem" message="tns:ICosmosWcf_GetSystem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICosmosWcf/GetSystemResponse" message="tns:ICosmosWcf_GetSystem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStarship">
      <wsdl:input wsaw:Action="http://tempuri.org/ICosmosWcf/GetStarship" message="tns:ICosmosWcf_GetStarship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICosmosWcf/GetStarshipResponse" message="tns:ICosmosWcf_GetStarship_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICosmosWcf" type="tns:ICosmosWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitializeGame">
      <soap:operation soapAction="http://tempuri.org/ICosmosWcf/InitializeGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendStarship">
      <soap:operation soapAction="http://tempuri.org/ICosmosWcf/SendStarship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystem">
      <soap:operation soapAction="http://tempuri.org/ICosmosWcf/GetSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStarship">
      <soap:operation soapAction="http://tempuri.org/ICosmosWcf/GetStarship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cosmos">
    <wsdl:port name="BasicHttpBinding_ICosmosWcf" binding="tns:BasicHttpBinding_ICosmosWcf">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CosmosWcfServiceLibrary/Cosmos/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>