Kolokwium1/GameMICGOR/GameMICGOR/Connected Services/CaveService1/ObjectManager.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ObjectManager.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ObjectManager.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Center" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Down" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Left" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Right" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecretKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Up" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
</xs:schema>