Kolokwium1/GameMICGOR/GameMICGOR/Connected Services/CaveService1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cave" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ObjectManager.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICave_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="ICave_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="ICave_Move_InputMessage">
    <wsdl:part name="parameters" element="tns:Move" />
  </wsdl:message>
  <wsdl:message name="ICave_Move_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveResponse" />
  </wsdl:message>
  <wsdl:message name="ICave_UserKey_InputMessage">
    <wsdl:part name="parameters" element="tns:UserKey" />
  </wsdl:message>
  <wsdl:message name="ICave_UserKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="ICave">
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://tempuri.org/ICave/Init" message="tns:ICave_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICave/InitResponse" message="tns:ICave_Init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Move">
      <wsdl:input wsaw:Action="http://tempuri.org/ICave/Move" message="tns:ICave_Move_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICave/MoveResponse" message="tns:ICave_Move_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ICave/UserKey" message="tns:ICave_UserKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICave/UserKeyResponse" message="tns:ICave_UserKey_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICave" type="tns:ICave">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://tempuri.org/ICave/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move">
      <soap:operation soapAction="http://tempuri.org/ICave/Move" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserKey">
      <soap:operation soapAction="http://tempuri.org/ICave/UserKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cave">
    <wsdl:port name="BasicHttpBinding_ICave" binding="tns:BasicHttpBinding_ICave">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Cave/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>