Kolokwium1/GameMICGOR/GameMICGOR/Connected Services/PalantirWCFService1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Palantir" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ObjectManager.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPalantirWCF_SetPlayerRank_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPlayerRank" />
  </wsdl:message>
  <wsdl:message name="IPalantirWCF_SetPlayerRank_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPlayerRankResponse" />
  </wsdl:message>
  <wsdl:message name="IPalantirWCF_GetRanks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRanks" />
  </wsdl:message>
  <wsdl:message name="IPalantirWCF_GetRanks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRanksResponse" />
  </wsdl:message>
  <wsdl:portType name="IPalantirWCF">
    <wsdl:operation name="SetPlayerRank">
      <wsdl:input wsaw:Action="http://tempuri.org/IPalantirWCF/SetPlayerRank" message="tns:IPalantirWCF_SetPlayerRank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPalantirWCF/SetPlayerRankResponse" message="tns:IPalantirWCF_SetPlayerRank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRanks">
      <wsdl:input wsaw:Action="http://tempuri.org/IPalantirWCF/GetRanks" message="tns:IPalantirWCF_GetRanks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPalantirWCF/GetRanksResponse" message="tns:IPalantirWCF_GetRanks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPalantirWCF" type="tns:IPalantirWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetPlayerRank">
      <soap:operation soapAction="http://tempuri.org/IPalantirWCF/SetPlayerRank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRanks">
      <soap:operation soapAction="http://tempuri.org/IPalantirWCF/GetRanks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Palantir">
    <wsdl:port name="BasicHttpBinding_IPalantirWCF" binding="tns:BasicHttpBinding_IPalantirWCF">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/PalantirWCF/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>